/* app css stylesheet */

input {
    width: 130px;
}

input[type='button']{
    width: 80px;
}

li > div {
    display: inline-block;
}

li > div > label {
    width: 60px;
    display: inline-block;
}