/* app css stylesheet */

body, input, button {
    font-family: "Trebuchet MS";
    font-size: 8pt;
}

input {
    width: 130px;
}

input[type='button'], button{
    width: 80px;
}

li {
    border: 1px solid #ccc;
}

li > div {
    display: inline-block;
}

li > div > label {
    width: 60px;
    display: inline-block;
}

li > div > span {
    display: inline-block;
    width: 60px;
}