<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="css/app.css"/>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</head>
<body ng-controller="myController">
  <ol>
      <li>
          <input ng-model="newCard.name" />

          <input type='button' ng-click="saveCard(newCard)" value="save"/>
      </li>
  	<li ng-repeat="card in cards">
        <span style="display:none">{{card | json}}</span>
        <div>
            <label>
                name:
            </label>
            <input ng-model="card.name">
        </div>

        <div>
            <label>deadline:</label>
            <input date-input ng-model="card.deadline">
        </div>
        <div>
            <label>reward:</label>
            <input ng-model="card.reward">
        </div>
        <div>
            <label>
                unit:
            </label>
            <input ng-model="card.rewardUnit">
        </div>
        <div>
            <label>min:</label>
            <input ng-model="card.minSpend">
        </div>
        <div>
            <label>bal:</label>
            <label>{{card.balance.amount}}</label>
        </div>
        <div>
            <input type="button" ng-click="saveCard(card)" value="save">
            <input type="button" ng-click="deleteCard(card)" value="delete">
        </div>
        <div>
            <button ng-click="showBalances(card._id)">show bals</button>
            <ul>
                <li>
                    <div>
                        <label>as of:</label>
                        <input date-input ng-model="card.newBalance.asOf" />

                        <label>bal:</label>
                        <input ng-model="card.newBalance.amount" />

                        <button ng-click="saveBalance(card.newBalance)">save bal</button>
                    </div>
                </li>
                <li ng-repeat="bal in card.balances">
                    <div>
                        <label>as of:</label>
                        <span>{{ bal.asOf | date: 'MM/dd/yyyy' }}</span>

                        <label>bal: </label>
                        <span>{{ bal.amount }}</span>

                        <button ng-click="deleteBalance(card._id, bal._id)">del bal</button>
                    </div>
                </li>
            </ul>
        </div>
  	</li>
  </ol>
  

</body>
</html>
